.App {
}

.App-logo {
  width: 40;
  padding: 10px;
  pointer-events: none;
}

.ComponentContainer {
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: 1px solid yellow;
}

.content {
  background-color: white;
  overflow-y: scroll;
}

.App-link {
  color: #61dafb;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
